<h1><%= @product.name %></h1>

<p>
  <%= @product.description %>
</p>

<% if current_user %>
  <p>
    <%= link_to "Capture page", movable_ink_product_url(@product, :user => current_user.uid) %>
  </p>
<% end %>

<div class="row">
  <div class="span12">
    <h2>People with friends who purchased</h2>

    <%= render :partial => User.all.select{|u| u.friends_who_purchased(@product).present? } %>
  </div>

  <div class="span12">
    <h2>Purchasers</h2>
  </div>

  <div class="span6">
    <h3>Your Friends</h3>

    <div id="friends">
      <%= render :partial => @friends %>
    </div>
  </div>

  <div class="span6">
    <h3>All</h3>

    <%= render :partial => @product.users %>
  </div>

  <div class="span12">
    <h2>Non-purchasers</h2>

    <%= render :partial => User.all - @product.users %>
  </div>

</div>
